# backend.hcl.example
#   terraform init -backend-config=backend.hcl
# backend.hcl itself is gitignored.

bucket = "my-terraform-state-bucket"
key    = "my-bucket-key/terraform.tfstate"
region = "my-region"
use_lockfile = true
encrypt = true
